
.section-container{
    max-width: 100%;
    max-height: 700px;
    padding: 20px 10px;
    border-radius: 20px;
}
.section-container{ 
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.section-container h2{
    padding-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 25px;
    text-transform: uppercase;
}

.container{
    width: 80%;
}