.skills ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}
.skills li{
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    border-radius: 20px;
    text-align: center;
    margin-top: -5px;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    font-weight: 500;
    gap: 5px;
}
.skills img{
    width: 2rem;
    
}