@import url(header-nav.css);
@import url(general-sections.css);
@import url(aboutme-section.css);
@import url(projects-section.css);
@import url(contact-section.css);
@import url(skills-section.css);
@import url(main-section.css);
@import url(mediasQuerys.css);
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth; /* Activar scroll suave */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
    background: linear-gradient(rgb(5, 5, 5),rgb(35, 0, 49),rgb(5, 0, 5),rgb(35, 0, 49),rgb(5, 5, 5));
    color: #fff;
    
}

/*contenedores */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 70px;
}

footer img{
    width: 40px;
}
footer h3{
    text-align: center;
    color: black;
    text-decoration: wavy;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
}