#header{
    position: fixed;
    background-color:darkcyan;
    width: 100%;
    z-index: 2;
    
}
#header .container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px
    
}